@font-face {
  font-family: 'spacehpc_iconfont';
  src:  url('spacehpc_iconfont.eot?vfv9dt');
  src:  url('spacehpc_iconfont.eot?vfv9dt#iefix') format('embedded-opentype'),
    url('spacehpc_iconfont.ttf?vfv9dt') format('truetype'),
    url('spacehpc_iconfont.woff?vfv9dt') format('woff'),
    url('spacehpc_iconfont.svg?vfv9dt#spacehpc_iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="hpc_"], [class*=" hpc_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'spacehpc_iconfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hpc_basic_icon_check:before {
  content: "\e956";
}
.hpc_gpu_icon_copy:before {
  content: "\e954";
}
.hpc_gpu_icon_edit:before {
  content: "\e955";
}
.hpc_basic_icon_adjust:before {
  content: "\e900";
}
.hpc_basic_icon_arrow_left:before {
  content: "\e901";
}
.hpc_basic_icon_close_circle_filled:before {
  content: "\e902";
}
.hpc_basic_icon_close:before {
  content: "\e903";
}
.hpc_basic_icon_delete:before {
  content: "\e904";
}
.hpc_basic_icon_desktop:before {
  content: "\e905";
}
.hpc_basic_icon_direction_left:before {
  content: "\e906";
}
.hpc_basic_icon_download:before {
  content: "\e907";
}
.hpc_basic_icon_exit:before {
  content: "\e908";
}
.hpc_basic_icon_export:before {
  content: "\e909";
}
.hpc_basic_icon_filter:before {
  content: "\e90a";
}
.hpc_basic_icon_globe:before {
  content: "\e90b";
}
.hpc_basic_icon_info_circle:before {
  content: "\e90c";
}
.hpc_basic_icon_info_filled:before {
  content: "\e90d";
}
.hpc_basic_icon_Invisible:before {
  content: "\e90e";
}
.hpc_basic_icon_loading_circle:before {
  content: "\e90f";
}
.hpc_basic_icon_more:before {
  content: "\e910";
}
.hpc_basic_icon_ok_circle_filled:before {
  content: "\e911";
}
.hpc_basic_icon_ok_circle:before {
  content: "\e912";
}
.hpc_basic_icon_page_double_left:before {
  content: "\e913";
}
.hpc_basic_icon_page_left:before {
  content: "\e914";
}
.hpc_basic_icon_plus:before {
  content: "\e915";
}
.hpc_basic_icon_question_circle:before {
  content: "\e916";
}
.hpc_basic_icon_refresh_big:before {
  content: "\e917";
}
.hpc_basic_icon_refresh_bt:before {
  content: "\e918";
}
.hpc_basic_icon_refresh_small:before {
  content: "\e919";
}
.hpc_basic_icon_search:before {
  content: "\e91a";
}
.hpc_basic_icon_sort_up_filled:before {
  content: "\e91b";
}
.hpc_basic_icon_sort:before {
  content: "\e91c";
}
.hpc_basic_icon_user:before {
  content: "\e91d";
}
.hpc_basic_icon_visible:before {
  content: "\e91e";
}
.hpc_header_icon_help:before {
  content: "\e91f";
}
.hpc_header_icon_notice:before {
  content: "\e920";
}
.hpc_header_icon_ssh_outline:before {
  content: "\e921";
}
.hpc_header_icon_tmp_circle:before {
  content: "\e922";
}
.hpc_login_icon_phone:before {
  content: "\e923";
}
.hpc_login_icon_scanner:before {
  content: "\e924";
}
.hpc_netdisk_icon_close_circle:before {
  content: "\e925";
}
.hpc_netdisk_icon_copypath:before {
  content: "\e926";
}
.hpc_netdisk_icon_css:before {
  content: "\e927";
}
.hpc_netdisk_icon_delete:before {
  content: "\e928";
}
.hpc_netdisk_icon_doc:before {
  content: "\e929";
}
.hpc_netdisk_icon_download:before {
  content: "\e92a";
}
.hpc_netdisk_icon_fIle:before {
  content: "\e92b";
}
.hpc_netdisk_icon_folder:before {
  content: "\e92c";
}
.hpc_netdisk_icon_gif:before {
  content: "\e92d";
}
.hpc_netdisk_icon_html:before {
  content: "\e92e";
}
.hpc_netdisk_icon_image:before {
  content: "\e92f";
}
.hpc_netdisk_icon_jpg:before {
  content: "\e930";
}
.hpc_netdisk_icon_js:before {
  content: "\e931";
}
.hpc_netdisk_icon_json:before {
  content: "\e932";
}
.hpc_netdisk_icon_md:before {
  content: "\e933";
}
.hpc_netdisk_icon_more:before {
  content: "\e934";
}
.hpc_netdisk_icon_moveto:before {
  content: "\e935";
}
.hpc_netdisk_icon_newfolder_filled:before {
  content: "\e936";
}
.hpc_netdisk_icon_pdf:before {
  content: "\e937";
}
.hpc_netdisk_icon_rename:before {
  content: "\e938";
}
.hpc_netdisk_icon_txt:before {
  content: "\e939";
}
.hpc_netdisk_icon_uploadfiles_filled:before {
  content: "\e93a";
}
.hpc_netdisk_icon_uploadfolder_filled:before {
  content: "\e93b";
}
.hpc_netdisk_icon_zip:before {
  content: "\e93c";
}
.hpc_recharge_icon_check_circle_filled:before {
  content: "\e93d";
}
.hpc_recharge_icon_money_filled:before {
  content: "\e93e";
}
.hpc_sidebar_icon_bill:before {
  content: "\e93f";
}
.hpc_sidebar_icon_desktop:before {
  content: "\e940";
}
.hpc_sidebar_icon_gpu:before {
  content: "\e941";
}
.hpc_sidebar_icon_gui:before {
  content: "\e942";
}
.hpc_sidebar_Icon_home:before {
  content: "\e943";
}
.hpc_sidebar_icon_mirror:before {
  content: "\e944";
}
.hpc_sidebar_icon_netdisk:before {
  content: "\e945";
}
.hpc_sidebar_icon_recharge:before {
  content: "\e946";
}
.hpc_sidebar_icon_secretkey:before {
  content: "\e947";
}
.hpc_sidebar_icon_security:before {
  content: "\e948";
}
.hpc_sidebar_icon_ssh_fillde:before {
  content: "\e949";
}
.hpc_sidebar_icon_tasklist:before {
  content: "\e94a";
}
.hpc_sidebar_icon_ts:before {
  content: "\e94b";
}
.hpc_sidebar_icon_user:before {
  content: "\e94c";
}
.hpc_ssh_icon_copy:before {
  content: "\e94d";
}
.hpc_ssh_icon_exitfullscreen:before {
  content: "\e94e";
}
.hpc_ssh_icon_fullscreen:before {
  content: "\e94f";
}
.hpc_ssh_icon_help:before {
  content: "\e950";
}
.hpc_ssh_icon_invisible:before {
  content: "\e951";
}
.hpc_ssh_icon_tm:before {
  content: "\e952";
}
.hpc_ssh_icon_visible:before {
  content: "\e953";
}
