@import './variables.scss';

.mirror {
  width: 100%;
  background-image: url('../assets/images/public/background-image1.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  font-family: Source Han Sans-Regular;
}
.mirror-header {
  width: 100%;
  min-height: 100vh;
  background-image: url('../assets/images/public/mirror-banner-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.mirror-box {
  // min-height: 100vh;
  // box-sizing: border-box;
}
.mirror-tab-box {
  padding: 36px 29px 0;
  margin-top: 30px;
  margin-bottom: 62px;
  box-sizing: border-box;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.50);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10), 0px 0px 2px 0px rgba(255, 255, 255, 0.70) inset, 0px 1px 1px 0px rgba(255, 255, 255, 0.50) inset, 0px 0px 15px 0px rgba(255, 255, 255, 0.20) inset, 0px 15px 30px 0px rgba(255, 255, 255, 0.20) inset;
  backdrop-filter: blur(30px);
  .mirror-tabs-title {
    width: 100%;
    border-bottom: 1px solid #000;
    padding-bottom: 36px;
    li {
      color: var(--basic-text-color);
      font-size: 24px;
      box-sizing: border-box;
      margin-right: 107px;
      &.mirror-tab-active {
        color: var(--active-color);
        i {
          transform: rotate(90deg);
        }
      }
      &:hover {
        color: var(--active-color);
        cursor: pointer;
      }
    }
    .mirror-count {
      background-color: var(--main-color);
      padding: 0 7px;
      height: 20px;
      border-radius: 8px;
      font-size: 12px;
      color: var(--white-color-85);
      // line-height: none;
      margin-right: 8px;
      // font-family: Source Han Sans-Medium;
    }
  }
}

.mirror-content-box {
  width: 1560px;
  position: relative;
  min-height: 796px;
  // padding-bottom: 14px;
  margin-bottom: 120px;
}
.mirror-search-box {
  height: 40px;
  background: #0B1320;
  box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.64), 0px 3px 6px 0px rgba(0,0,0,0.48), 0px 5px 12px 1px rgba(0,0,0,0.36);
  border-radius: 8px;
  margin-bottom: 20px;

  .el-input__inner {
    background-color: #0B1320;
    border: none;
    font-size: 14px;
    color: rgba(255,255,255,0.3);
    text-align: left;
    font-family: Source Han Sans-Regular;
  }

  .el-input__icon {
    color: rgba(255,255,255,0.3);
  }
}

.mirror-tag-box {
  margin-top: 36px;
  .mirror-tag-item {
    // height: 22px;
    padding: 12px 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center; 
    border-radius: 12px;
    background: rgba(48, 104, 255, 0.50);
    color: rgba(255,255,255,1);
    text-shadow: inset 0px 15px 30px rgba(255,255,255,0.2), inset 0px 0px 15px rgba(255,255,255,0.2), inset 0px 1px 1px rgba(255,255,255,0.5), inset 0px 0px 2px rgba(255,255,255,0.7), 2px 2px 4px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10), 0px 0px 2px 0px rgba(255, 255, 255, 0.70) inset, 0px 1px 1px 0px rgba(255, 255, 255, 0.50) inset, 0px 0px 15px 0px rgba(255, 255, 255, 0.20) inset, 0px 15px 30px 0px rgba(255, 255, 255, 0.20) inset;
    backdrop-filter: blur(30px);
    cursor: pointer;
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 24px;
    font-family: Source Han Sans-Regular;
    &.mirror-tag-active {
      background: #3068FF;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.mirror-tag-selected {
  font-weight: 400;
  font-size: 14px;
  color: var(--white-color-60);
  line-height: 20px;
}

.mirror-el-skeleton {
  .el-skeleton.is-animated .el-skeleton__item {
    background: linear-gradient(90deg, #0d1625 15%, #0d1625 37%, #101d30 60%);
    background-size: 400% 100%;
    -webkit-animation: el-skeleton-loading 1.4s ease infinite;
    animation: el-skeleton-loading 1.4s ease infinite;
  }
}

.mirror-list-box {
  margin: -10px;
}

.mirror-item  {
  width: 320px;
  height: 80px;
  background: rgba(255,255,255,0.5);
  box-shadow: inset 0px 15px 30px 0px rgba(255,255,255,0.2), inset 0px 0px 15px 0px rgba(255,255,255,0.2), inset 0px 1px 1px 0px rgba(255,255,255,0.5), inset 0px 0px 2px 0px rgba(255,255,255,0.7), 2px 2px 4px 0px rgba(0,0,0,0.1);
  border-radius: 15px 15px 15px 15px;
  box-sizing: border-box;
  padding: 16px 20px;
  flex: 0 0 calc(25% - 20px);
  margin: 10px;
  cursor: pointer;

  .mirror-item-icon-img {
    width: 48px;
    height: 48px;
  }

  .mirror-item-info {
    width: 222px;
    height: 48px;

    .mirror-item-title {
      font-size: 16px;
      color: var(--active-color);
      line-height: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: Source Han Sans-Bold;
    }

    .icon-box {
      width: 20px;
      height: 20px;
      background: var(--light-bg);
      border-radius: 15px;
      img {
        width: 90%;
        height: 90%;
      }
    }

    .tag-icon {
      margin-left: 6px;
      background-color: $mainBtnBg;
    }

    .mirror-item-author{
      color: var(--basic-text-color);
      font-size: 14px;
      line-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: Source Han Sans-Regular;
    }
  }
}

.mirror-dialog {
  margin-top: 300px !important;
  width: 465px !important;
  background: var(--light-bg) !important;
  box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.32), 
              0px 9px 32px 8px rgba(0,0,0,0.2), 
              0px 12px 48px 16px rgba(0,0,0,0.12) !important;
  border-radius: 10px !important;
  padding: 0 20px 24px 20px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  color: var(--white-color-85) !important;
  // font-family: Source Han Sans-Regular !important;

  div {
    padding: 0;
  }

  .dialog-item  {
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    flex: 0 0 calc(25% - 20px);
    cursor: pointer;
    border-bottom: 1px solid var(--dividing-line-color);

    .dialog-item-icon-img {
      width: 48px;
      height: 48px;
    }

    .dialog-item-info {
      width: 367px;
      height: 48px; 

      .dialog-item-title {
        font-size: 16px;
        color: var(--active-color);
        line-height: 22px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: Source Han Sans-Bold;
      }
  
      .icon-box {
        width: 20px;
        height: 20px;
        background: var(--light-bg);
        border-radius: 15px;
        img {
          width: 90%;
          height: 90%;
        }
      }
  
      .tag-icon {
        margin-left: 8px;
        background-color: $mainBtnBg;
      }

      .dialog-item-author{
        color: var(--white-color-85);
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .dialog-item-detail {
    margin-top: 12px;
    color: var(--white-color-85);
    .desc-text {
      margin-top: 12px;
      color: $grayTextColor;
    }
  }

  .dialog-item-footer {
    width: 100%;
    height: 36px;
    background: var(--dividing-line-color);
    border-radius: 8px;
    color: var(--white-color-85);
    cursor: pointer;
    font-family: Source Han Sans-Medium;
    &:hover {
      color: #fff;
      background: var(--dividing-line-hover-color);
    }
  }
}

.mini-mirror {
  width: 100%;
  min-height: 100vh;
  background-color: var(--light-bg);
  padding: 104px 35px 60px 35px;
  box-sizing: border-box;
}
.mini-mirror-box {
  width: 320px;
  .mini-mirror-search-box {
    width: 100%;
  }
  .mini-mirror-tab-box {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.08);
    box-sizing: border-box;
    margin-bottom: 20px;
    .mini-mirror-tabs-title {
      width: 100%;
      li {
        min-width: 52px;
        color: var(--white-color-60);
        font-size: 14px;
        // line-height: 20px;
        padding: 9px 12px;
        box-sizing: border-box;
        font-family: Source Han Sans-Medium;
        &.mirror-tab-active-bottom {
          color: var(--active-color);
          border-bottom: 1px solid var(--active-color);
        }
        &:hover {
          color: var(--active-color);
          cursor: pointer;
        }
      }
    }
  }
  .mini-mirror-tag-box {
    width: 100%;
  }
  .mini-mirror-tag-selected {
    width: 100%;
  }
}

@media screen and (max-width: 1600px) {
  .mirror-content-box {
    width: 1000px;
  }
}

@media screen and (max-width: 1200px) {
  .mirror-content-box {
    width: 660px;
  }
}

@media screen and (max-width: 768px){
  
  .mirror-tab-box {
    width: 60px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 390px) {
  .mirror-box {
    flex-direction: column;
  }
  .mirror-content-box {
    width: 320px;
  }
  .mirror-dialog {
    width: 380px !important;
  }
}






