@import "../variables.scss";

.price-detail {
  background: rgba(255, 255, 255, 0.50);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10), 0px 0px 2px 0px rgba(255, 255, 255, 0.70) inset, 0px 1px 1px 0px rgba(255, 255, 255, 0.50) inset, 0px 0px 15px 0px rgba(255, 255, 255, 0.20) inset, 0px 15px 30px 0px rgba(255, 255, 255, 0.20) inset;
  padding: 80px 0;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.price-detail-content {
  width: 1248px;
}
.price-detail-tab {
  width: 100%;
  // height: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255,255,255,0.08);
  margin-bottom: 72px;
}
.price-detail-tab-item {
  font-size: 24px;
  color: #fff;
  background-color: #D9D9D9;
  border-radius: 50px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10), 0px 0px 2px 0px rgba(255, 255, 255, 0.70) inset, 0px 1px 1px 0px rgba(255, 255, 255, 0.50) inset, 0px 0px 15px 0px rgba(255, 255, 255, 0.20) inset, 0px 15px 30px 0px rgba(255, 255, 255, 0.20) inset;
  font-weight: 500;
  height: 53px;
  width: 140px;
  text-align: center;
  line-height: 53px;
  position: relative;
  transition: all .5s;
  margin-right: 80px;
  &.active {
    background: linear-gradient(270deg, rgba(55, 113, 255, 0.80) 0%, rgba(111, 173, 255, 0.80) 67.9%, rgba(137, 202, 255, 0.80) 100%);
  }
  &:hover {
    background: linear-gradient(270deg, rgba(55, 113, 255, 0.80) 0%, rgba(111, 173, 255, 0.80) 67.9%, rgba(137, 202, 255, 0.80) 100%);
  
  }
  
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    color: #fff;
  }
}
.price-detail-box {
  gap: 20px;
}
.price-detail-item {
  width: 400px;
  padding: 26px 30px;
  background: rgba(48, 104, 255, 0.20);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10), 0px 0px 2px 0px rgba(255, 255, 255, 0.70) inset, 0px 1px 1px 0px rgba(255, 255, 255, 0.50) inset, 0px 0px 15px 0px rgba(255, 255, 255, 0.20) inset, 0px 15px 30px 0px rgba(255, 255, 255, 0.20) inset;
  border-radius: 15px;
  box-sizing: border-box;
  position: relative;
  .tag-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    border-radius: 0px 15px;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: inset 0px 15px 30px rgba(255,255,255,0.2), inset 0px 0px 15px rgba(255,255,255,0.2), inset 0px 1px 1px rgba(255,255,255,0.5), inset 0px 0px 2px rgba(255,255,255,0.7), 2px 2px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.price-detail-item-header {
  padding-bottom: 26px;
  border-bottom: 1px solid #3068FF;
}
.price-detail-item-title {
  color: var(--basic-text-color);
  font-size: 20px;
  line-height: 20px;
  font-family: 'PingFang SC-Regular';
}
.price-detail-item-content {
  margin-top: 10px;
  font-family: Source Han Sans-Regular;
  p {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: var(--basic-text-color);
    margin-top: 10px;
    // font-family: Source Han Sans-Regular;
  }
  span {
    color: var(--active-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    // font-family: Source Han Sans-Regular;
  }
  .original-price {
    font-size: 14px;
    font-weight: 400;
    color: #909090;
    // line-height: 17px;
    text-decoration-line: line-through;
    margin-right: 4px;
  }
  .price-text {
    font-size: 18px;
    font-weight: 300;
    // font-family: PingFang SC-Light;
  }
}
@media only screen and (max-width: 1300px) {
  .price-detail {
    background-image: url("../../assets/image/index/price_detail/bg-md.png");
  }
  .price-detail-content {
    width: 860px;
  }
}
@media only screen and (max-width: 900px) {
  .price-detail-content {
    width: 660px;
  }
  .price-detail-item {
    width: 320px;
  }
} 
@media only screen and (max-width: 600px) {
  .price-detail {
    padding-bottom: 60px;
    background-image: url("../../assets/image/index/price_detail/bg-xs.png");
  }
  .price-detail-content {
    width: 360px;
  }
  .price-detail-item {
    width: 360px;
  }
} 