@import "../variables.scss";
.software {
  background-color: #E2EAFE;
  padding-top: 120px;
  padding-bottom: 120px;
}
.software-content {
  width: 1560px;
}
.software-item {
  margin-top: 50px;
  width: 220px;
  margin-right: 20px;
  &:nth-child(6n) {
    margin-right: 0;
  }
}
.software-img {
  width: 220px;
  height: 220px;
  margin-bottom: 28px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.40);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10), 0px 0px 2px 0px rgba(255, 255, 255, 0.70) inset, 0px 1px 1px 0px rgba(255, 255, 255, 0.50) inset, 0px 0px 15px 0px rgba(255, 255, 255, 0.20) inset, 0px 15px 30px 0px rgba(255, 255, 255, 0.20) inset;
  backdrop-filter: blur(30px);

  img {
    width: 120px;
    height: 120px;
  }
}
.software-title {
  font-size: 24px;
  color: var(--basic-text-color);
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.24px;
  font-family: Inter;
  white-space: nowrap
}
@media only screen and (max-width: 1300px) {
  .software-content {
    width: 948px;
  }
}
@media only screen and (max-width: 900px) {
  .software-content {
    width: 469px;
  }
} 
@media only screen and (max-width: 600px) {
  .software {
    padding-bottom: 80px;
  }
  .software-content {
    width: 308px;
  }
} 